@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: "Roboto Slab" sans-serif;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

a{
    color: white;
}

/*   INICIO    */

.inicio{
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url("/img/fondo5.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    color: white
}

.inicio .contenido-seccion{
    max-width: 100%;
    height: 450px;
    margin: auto;
    text-align: center;
    padding: 0 10px;
}

.inicio .contenido-seccion header{
    padding: 30px;
}


/*    MENÚ    */


.inicio .contenido-seccion header nav{
    position: fixed;
    margin-left: 60px;
    background-color: rgba(0, 0, 0, 0.438);
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    z-index: 99;
    display: none;
    left: -20px;
    margin-top: 60px;
}


.inicio .contenido-seccion header nav a{
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bold;
}

.inicio .contenido-seccion header a:hover{
    color: rgb(108, 191, 197);
}

/*  ******  */

.inicio .contenido-seccion header .nav-bar{
    position: fixed;
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    cursor: pointer;
    transition: .2s;
    transition: box-shadow 0.3s ease, transform 0.3s ease, opacity 2s ease;
    transform: scale(1);
    cursor: pointer;
    background: linear-gradient(to bottom right, #070707, #0481a75b);
}

.inicio .contenido-seccion header .nav-bar:hover{
    box-shadow: 0 0 35px white;
    box-shadow: 0 0 25px rgb(255, 255, 255), 0 0 15px rgb(255, 255, 255) inset;
    transform: scale(1.2) translateZ(20px);
}

.inicio .contenido-seccion .info{
    padding-bottom: 130px;
}

.inicio .contenido-seccion .info h1{
    margin-top: 100px;
    font-size: 3rem;
    letter-spacing: 5px;
}

.inicio .contenido-seccion .info h2{
    font-weight: normal;
    font-size: 20px;
    margin-top: -10px;
    letter-spacing: 4px;
}

.inicio .contenido-seccion .info .redes{
    margin: 20px 0;
}

.inicio .contenido-seccion .info .redes a{
    display: inline-block;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    transition: box-shadow 0.3s ease, transform 0.3s ease, opacity 2s ease;
    transform: scale(1);
    cursor: pointer;
    background: linear-gradient(to bottom right, #070707, #0481a75b);
}

.inicio .contenido-seccion .info .redes a:hover{
    box-shadow: 0 0 35px white;
    box-shadow: 0 0 25px rgb(255, 255, 255), 0 0 15px rgb(255, 255, 255) inset;
    transform: scale(1.2) translateZ(20px);
}

/* ESTILOS GENERALES */

.titulo-seccion{
    font-family: "Great Vibes", cursive;
    font-size: 1.5rem;
}


/* SECCIÓN SOBRE MÍ */

.sobremi{
    background-color: aliceblue;
    padding: 140px 0 100px 0;
    text-align: center;
}

.sobremi .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 100px;
}

.sobremi .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
}

.sobremi .contenido-seccion .especial{
    color:rgb(0, 0, 0);
    font-weight: bold;
    margin-top: 15px;
}

.sobremi .contenido-seccion p{
    max-width: 700px;
    margin: auto;
    color: #4e4e4e;
}

.sobremi .contenido-seccion .fila{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.sobremi .contenido-seccion .fila .col{
    width: 30%;
}

.sobremi .contenido-seccion .fila .col i{
    color: rgb(0, 0, 0);
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid rgba(6, 238, 255, 0.527);
    border-radius: 50%;
    line-height: 40px;
}

.sobremi .contenido-seccion .fila .col span{
    display: block;
    font-weight: bold;
    margin: 8px 0;
}

/* HABILIDADES */

.habilidades{
    padding: 80px 0 100px 0;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url("/img/fondo5.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: rgba(255, 255, 255, 0.712);
}

.habilidades .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}

.habilidades .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
}

.habilidades .contenido-seccion .fila{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.habilidades .contenido-seccion .fila .col{
    width: 47%;
    text-align: left;
}

.habilidades .contenido-seccion .fila .col .cont-barra{
    display: flex;
    align-items: center;
}

.habilidades .contenido-seccion .barra{
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.445);
    padding: 2px;
    border-radius: 3px;
    margin-right: 10px;
}

.habilidades .contenido-seccion .barra .e{
    background-color: rgba(103, 138, 148, 0.281);
    width: 20px;
    height: 30px;
    margin-right: 2px;
}

/* RESUMEN */

.resumen{
    background-color: aliceblue;
    padding: 140px 0 100px 0;
    text-align: center;
}

.resumen .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}

.resumen .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
}

.resumen .contenido-seccion .info{
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.resumen .contenido-seccion .info .col{
    width: 45%;
}

.resumen .contenido-seccion .info .col .titulo{
    display: inline-block;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: 2px solid rgba(6, 238, 255, 0.527);
    padding: 10px;
}

.resumen .contenido-seccion .info .col table{
    margin-top: 30px;
    border-collapse: collapse;
}

.resumen .contenido-seccion .info .col table .datos{
    width: 40%;
    border-bottom: 1px solid #bab9b9;
}

.resumen .contenido-seccion .info .col table h4{
    margin-top: 10px;
}

.resumen .contenido-seccion .info .col table h3{
    font-size: 20px;
    margin-bottom: 5px;
}

.resumen .contenido-seccion .info .col table p{
    font-size: 14px;
}

.resumen .contenido-seccion .info .col table .descripcion{
    border-left: 1px solid #bab9b9;
    padding-left: 20px;
}

/* CONTACTO */

.contacto{
    background-color: black;
    padding: 100px 0 100px 0;
    color: white;
    text-align: center;
}

.contacto .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}

.contacto .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px
}

.contacto .contenido-seccion .fila{
    display: flex;
    justify-content: space-around;
}

.contacto .contenido-seccion .fila .col{
    margin-top: 50px;
}

.contacto .contenido-seccion .fila .col h2{
    color: rgba(6, 238, 255, 0.527);
    transform: scale(1);
    cursor: pointer;
}

.contacto .contenido-seccion .fila .col h2:hover{
    text-shadow: 0 0 35px rgb(255, 255, 255);
    transform: scale(1.2) translateZ(20px);
}

.copyright {
    margin-top: 70px;
}
/* RESPONSIVE */

@media screen and (max-width:800px){
    .habilidades .contenido-seccion .fila{
        display: block;
    }
    .habilidades .contenido-seccion .fila .col{
        width: 100%;
        text-align: center;
    }
    .habilidades .contenido-seccion .fila .col .cont-barra{
        justify-content: center;
    }
    .sobremi .contenido-seccion .fila{
        display: block;
    }
    .sobremi .contenido-seccion .fila .col{
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }
    .resumen .contenido-seccion .info{
        display: block;
    }
    .resumen .contenido-seccion .info .col{
        width: 90%;
        margin: auto;
    }
    .resumen.contenido-seccion .info .col .titulo{
        display: block;
        text-align: center;
    }
    .resumen.contenido-seccion .info .col table{
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .contacto .contenido-seccion .fila{
        display: block;
    }
}

